.dialog {
  width: 400px;
  height: 200px;
  text-align: center;
  position: absolute;
  top: 300px;
  left: 440px;
  margin: 0px;
  background: #ffffff;
}

.dialog-content {
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
}

.dialog-button {
  display: flex;
  justify-content: space-between;
}

.dialog-alert {
  background: #ffffff;
  width: 240px;
  height: 90px;
  text-align: center;
  position: absolute;
  top: 389px;
  left: 534px;
}